#grouped-repeater-wrapper  {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 20px;
}

#grouped-repeater-wrapper .group {
    display: block;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 15px 65px 15px 10px;
    font-size: 100%;
    border: 1px solid #ccd0d4;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: border-color .15s;
    margin-bottom: 5px;
    outline: 0;
}

#grouped-repeater-wrapper .group:hover {
    border-color: #999;
}

/* Repeater Button Css */
#grouped-repeater-wrapper .add-group {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 3px 12px;
    border: none;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

/* Accordion Header Css */
#grouped-repeater-wrapper .accordion-header .accordion-header-icon {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    font-family: dashicons;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#grouped-repeater-wrapper .accordion-header .accordion-header-icon:before {
    content: "\f345";
}

#grouped-repeater-wrapper .accordion-header.active .accordion-header-icon:before {
    content: "\f347";
}

#grouped-repeater-wrapper .accordion-header .accordion-header-placeholder {
    background-color: #ddd;
    margin-top: 4px;
    width: 100px;
    height: 10px;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
}


/* Cloneable Helper Css */
#grouped-repeater-wrapper .cloneable-helper {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
    font-size: 14px;
    line-height: 1em;
}

#grouped-repeater-wrapper .cloneable-helper i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    font-family: dashicons;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    padding: 2px;
    color: #999;
}

#grouped-repeater-wrapper .cloneable-helper .cloneable-move:before {
    content: "\f545";
}

#grouped-repeater-wrapper .cloneable-helper .cloneable-clone:before {
    content: "\f105";
}

#grouped-repeater-wrapper .cloneable-helper .cloneable-remove:before {
    content: "\f335";
}
